많은 tutorial에서 보는 data와 현실 세계 data의 차이점은 현실 세계의 data는 깨끗하거나 형태가 단일한 경우가 드물다는 것이다. 특히 흥미로운 dataset은 data가 어느정도 누락돼 있는 경우가 많다. 더 골치 아픈 것은 data source가 다르면 전혀 다른 방식으로 data가 누락됐다는 뜻일 수도 있다는 데 있다.  


이번 절에서는 누락된 data에 대해 일반적으로 고려할 사항 몇가지를 논의하고 Pandas가 그것을 어떻게 표현하는지 알아보고 누락 data를 처리하는 python의 내장된 Pandas 도구 몇 가지를 설명하려고 한다. 이 책에서는 누락된 data를 null이나 NaN, NA 값으로 나타낸다.

# 1. 누락된 Data 처리 방식의 Tradeoff

표나 DataFrame의 누락된 data 존재를 나타내기 위해 여러 가지 방식이 개발됐다. 일반적으로 그 방식은 누락된 값을 전체적으로 가리키는 mask를 사용하거나 누락된 항목 하나를 가리키는 sentinel 값을 선택하는 두 전략 중 하나를 중심으로 한다.

masking approach(방식)에서 mask는 완전히 별개의 boolean array일 수도 있고 지역적으로 값의 null 상태를 가리키기 위해 data 표현에서 one bit를 전용으로 사용할 수도 있다. 

sentinel approach에서 sentinel 값은 누락된 정숫값을 -9999나 보기 드문 bit pattern으로 표시하는 등 data에 특화된 표시법일 수도 있고, 누락된 부동 소수점 값을 IEEE 부동 소수점 표준을 따르는 특수 값인 NaN(Not a Number)으로 표시하는 것과 같은 좀 더 일반적인 표시법일 수도 있다.

이 방식들은 모두 장단점이 있다. 별도의 mask array를 사용하면 추가적인 boolean array allocation(할당)이 필요한데, 이는 storage와 computation(연산)에 있어 overhead를 일으킨다 sentinel 값은 표시할 수 있는 유훃값의 범위를 줄이고 CPU와 GPU arithmetic(산술 연산)에 별도의 (대체로 최적화되지 않은) logic이 필요할 수도 있다. NaN과 같은 보편적인 특수 값은 모든 data types에서 사용할 수 있는 것은 아니다.

대부분의 경우 모두를 만족하는 답이 존재하지 않듯이 언어와 시스템에 따라 다른 규칙을 사용한다. 예를 들어, R언어는 누락된 data를 가리키는 sentinel 값으로 각 data type에 예약된 bit pattern을 사용하고, SciDB system은 NA 상태를 나타내기 위해 모든 cell에 추가 byte를 더해 사용한다.

# 2. Pandas에서 누락된 Data

Pandas에서 누락된 값을 처리하는 방식은 Pandas의 기반이 되는 NumPy Package가 부동 소수점이 아닌 다른 데이터 타입에는 NA 값 표기법이 기본으로 없다는 사실로 인해 제약을 받는다.

Pandas가 값없음을 표시하기 위해 각 데이터 타입에 bit pattern을 지정하는 R의 방식을 따를 수 있었지만, 이 방식은 다루기가 까다롭다. R은 네 개의 기본 데이터 타입을 가지고 있는 반면, NumPy는 그보다 훨씬 더 많은 데이터 타입을 가지고 있기 때문이다. 예를 들어 R에는 정수형이 하나지만, NumPy는 Encoding 방식에 있어 정밀도(precisions), 부호(signedness), 엔디언(endianness)까지 고려하면 무려 열네 가지의 기본 정수형(inreger)을 지원한다. NumPy의 모든 data type에 대해 특정 bit pattern을 예약(reserving)하게 되면 다양한 data type에 대한 여러가지 연산으로 많은 overhead가 발생해서 이를 해결하기 위해 새로운 유형(fork)의 NumPy package가 필요할 수도 있다. 게다가 작은 data type(such as 8-bit integers)에서 mask로 사용하기 위해 1 bit를 별도로 뺀다면 표현할 수 있는 값의 범위가 상당히 줄어든다.

NumPy는 마스킹된 배열(masked arrays), 즉 '좋음' 또는 '나쁨'으로 data를 마스킹(masking data)하기 위해 부착된 별도의 Boolean mask array을 가진 arrays를 지원한다. Pandas가 이로부터 파생(derived from)됐을 수는 있지만 저장(storage)과 연산(computation), 코드유지보수(code maintenance)에서의 overhead는 그 방법(choice)의 매력을 떨어뜨린다.

이 같은 제약을 고려해 Pandas는 missing data에 대해 sentinels을 사용하고, 아울러 기존의 두 가지 Python null 값인 특수 부동 소수점(special floating-point) NaN값과 Python None object를 사용한다. 이 방식(choice)은 몇 가지 부작용(side effect)이 있지만, 실무에서는 이해관계가 충돌하는 대부분의 경우에 좋은 절충안(compromise)이 된다.

## 1) None : Python의 Missing data

Pandas가 사용한 첫번째 sentinel value는 None이다. 이는 Python의 singleton object로, 종종 Python code에서 missing data를 위해 사용된다. None은 Python의 object이므로 임의의 NumPy/Pandas array에서 사용할 수 없고 data type이 'object'인 array(i.e., arrays of Python objects)에서만 사용할 수 있다.

In [1]:
import numpy as np
import pandas as pd

In [2]:
vals1 = np.array([1, None, 3, 4,])
vals1

array([1, None, 3, 4], dtype=object)

이 code에서 dtype = object는 NumPy가 array의 내용에 대해 추론할 수 있는 가장 일반적인 type 표현이 Python object라는 것을 의미한다. 이러한 object array가 몇 가지 목적에서는유용하지만,  data에 대한 operation은 Python 수준(level)에서 이뤄지며 기본 데이터 타입(native types)의 array에서 볼 수 있는 전형적으로 빠른 operation보다 훨씬 더 많은 overhead가 발생한다.

In [3]:
for dtype in ['object', 'int']:
    print("dtype = ", dtype)
    %timeit np.arange(1E6, dtype=dtype).sum()
    print()

dtype =  object
72.3 ms ± 4.38 ms per loop (mean ± std. dev. of 7 runs, 10 loops each)

dtype =  int
3.39 ms ± 110 µs per loop (mean ± std. dev. of 7 runs, 100 loops each)

array에서 Python object를 사용한다는 것은 None 값을 가진 array에서 sum()이나 min() 같은 집계연산(aggregation)을 하면 일반적으로 error가 발생할 것이라는 뜻이기도 하다.

In [4]:
vals1.sum()

TypeError: unsupported operand type(s) for +: 'int' and 'NoneType'

이 code는 정수와 None의 덧셈이 정의돼 있지 않다는 사실을 보여준다.

## 2) Nan : 누락된 숫자 데이터(Missing numerical data)

다른 missing data 표현인 NoN(Not a Number의 약칭(acronym))은 다르다. 이것은 표준 IEEE 부동 소수점 표기(standard IEEE floating-point representation)를 사용하는 모든 시스템이 인식하는 특수 부동 소수점 값(special floating-point value recognized)이다.

In [6]:
vals2 = np.array([1, np.nan, 3, 4])
vals2.dtype

dtype('float64')

NumPy가 이 array에 대해 기본(native) 부동 소수점 type을 선택했다는 사실에 주목하자. 이 말은 곧 앞에서 본 object array와는 달리 이 array는compiled code에 삽입된 빠른 operation을 지원한다는 뜻이다. NaN은 data virus와 약간 비슷하다는 사실을 알아야 한다. 말하자면 그것은 접촉한 모든 object를 감염시킨다. 어떤 operation이든 상관없이 NaN이 포함된 산술연산(arithmetic operation)의 결과는 또 다른 NaN이 된다.

In [7]:
1 + np.nan

nan

In [8]:
0 * np.nan

nan

값을 집계하는 방법은 잘 정의돼 있지만(i.e., they don't result in an error) 그것이 항상 유용하지는 않다.

In [9]:
vals2.sum(), vals2.min(), vals2.max()

(nan, nan, nan)

NumPy는 이 missing value를 무시하는 몇 가지 특별한 aggregation을 제공한다.

In [11]:
np.nansum(vals2), np.nanmin(vals2), np.nanmax(vals2)

(8.0, 1.0, 4.0)

특히 NaN은 부동 소수점 값(a floating-point value)이라는 것을 유념하자. 정수(integer)나 문자열(string) 등 다른 type에는 NaN에 해당하는 값이 없다.


## 3) Pandas에서 NaN과 None

NaN과 None은 각자가 맡은 역할이 있으며 Pandas는 이 둘을 거의 호환성 있게 처리하고 적절한 경우에는 서로 변환할 수 있게 했다.

In [12]:
pd.Series([1, np.nan, 2, None])

0    1.0
1    NaN
2    2.0
3    NaN
dtype: float64

사용할 수 있는 sentinel value가 없는 type의 경우, NA value가 있으면 Pandas가 자동으로 type을 변환한다. 가령 integer array의 value를 np.nan으로 설정하면 NA를 수용할 수 있도록 a floating-point type으로 자동 상향 변환한다.

In [13]:
x = pd.Series(range(2), dtype = int)
x

0    0
1    1
dtype: int64

In [14]:
x[0] = None
x

0    NaN
1    1.0
dtype: float64

Pandas는 integer array를 floating point로 변환하는 것 외에도 자동으로 None을 NaN value로 변환한다(향후 native integer NA를 Pandas에 추가하자는 제안이 있지만, 아직 Pandas에 포함되지는 않았다). 이런 유형의 매직 함수가 R과 같이 영역 특화된 언어에서 NA value에 접근하는 단일 방식에 비해 다소 독창적이라고 느낄 수 있지만, 사실상 Pandas의 sentinel/타입 변환(casting)방식은 상당히 잘 동작하며 개인적 경험을 바탕으로 봤을 때 문제가 거의 발생하지 않는다.


# 3. Null value 연산하기(operating)

앞에서 본 대로 Pandas는 None과 NaN을 근본적으로 missing value나 Null value를 가리키기 위해 호환되는 value로 처리한다. 이 규칙을 이용할 수 있게 Pandas data structure의 Null value를 감지하고 삭제하고 대체하는 몇 가지 유용한 method가 있다.

isnull() : missing value를 가리키는 boolean mask를 생성

notnull() : isnull()의 역(opposite)

dropna() : data에 filter를 적용한 version을 반환

fillna() : missing value를 채우거나 전가된 data 사본을 반환

이 절의 마지막으로 이 routine들에 대해 간략히 설명한다.


## 1) Null value 탐지

Pandas data structure에는 null data를 탐지하기 위한 method로 isnull()과 notnull()의 두 가지가 있다. 둘 다 data에 대한 boolean mask를 반환한다. 예를 들면 다음과 같다.

In [15]:
data = pd.Series([1, np.nan, 'hello', None])

In [16]:
data.isnull()

0    False
1     True
2    False
3     True
dtype: bool

123쪽 'data indexing과 선택'에서 언급했듯이 boolean mask는 Series나 DataFrame index로 직접 사용될 수 있다.

In [17]:
data[data.notnull()]

0        1
2    hello
dtype: object

isnull()과 notnull() method는 DataFrames와 비슷한 결과를 만들어낸다.

## 2) Null value 제거하기

앞에서 사용했던 masking 외에도 편리하게 사용할 수 있는 dropna()(NA value 제거하기)와 fillna()(NA value 채우기) method가 있다. Series의 경우, 그 결과는 간단하다.

In [18]:
data.dropna()

0        1
2    hello
dtype: object

DataFrame의 경우에는 더 다양한 방식이 있다. 다음의 DataFrame을 생각해보자.

In [21]:
df = pd.DataFrame([[1, np.nan, 2],
                 [2, 3, 5],
                 [np.nan, 4, 6]])
df

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

DataFrame에서는 single value만 삭제할 수 없으며, 전체 raw나 전체 column을 삭제하는 것만 가능하다. 적용 분야에 따라 어느 하나의 방식이 필요하기 때문에 dropna()는 DataFrame에 대한 다양한 옵션을 제공한다.

기본적으로 dropna()는 null value가 있는 모든 행을 삭제할 것이다.

In [22]:
df.dropna()

     0    1  2
1  2.0  3.0  5

또 다른 방식으로 다른 axis에 따라 NA value를 삭제할 수 있다. axis = 1은 null value을 포함하는 모든 column을 삭제한다.

In [23]:
df.dropna(axis='columns')

   2
0  2
1  5
2  6

하지만 이 방식은 일부 유효한 data도 삭제한다. 모두 NA value로 채워져 있거나 NA value가 대부분을 차지하는 raw나 column을 삭제하고 싶을 때도 있을 것이다. 이것은 how나 thresh parameter를 통해 지정할 수 있는데, 이 parameter가 통과할 수 있는 null value의 개수를 세밀하게 조절하게 해준다.

기본 설정값은 how = 'any'로, null value를 포함하는 raw나 column(axis keyward에 따라 정해짐)을 모두 삭제한다. 또한, how = 'all'로 지정해 모두 null value인 raw나 column만 삭제할 수도 있다.

In [24]:
df[3] = np.nan
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [25]:
df.dropna(axis = 'columns', how = 'all')

     0    1  2
0  1.0  NaN  2
1  2.0  3.0  5
2  NaN  4.0  6

좀 더 세부적으로 제어하기 위해 thresh parameter로 row나 column에서 null이 아닌 value가 최소 몇 개가 있어야 하는지 지정할 수 있다.

In [26]:
df.dropna(axis='rows', thresh = 3)

     0    1  2   3
1  2.0  3.0  5 NaN

여기에서는 첫 번째와 마지막 row가 삭제되었는데, 거기에서 단 두 개의 value만이 null value가 아니기 때문이다.


## 3) Null value 채우기

때때로 NA value 를 삭제하지 않고 유효한 value로 대체해야 할 때도 있다. 그 value는 0과 같은 single value일 수도 있고 유효한 value로부터 전가(imputation) 혹은 보간(interpolation)된 value일 수도 있다. isnull() method를 mask로 직접 사용할 수도 있지만, Pandas는 이러한 operation을 위해 null value를 대체한 array의 사본을 반환하는 fillna() method를 제공한다.

In [27]:
data =  pd.Series([1, np.nan, 2, None, 3], index = list('abcde'))
data

a    1.0
b    NaN
c    2.0
d    NaN
e    3.0
dtype: float64

0과 같은 single value로 NA 항목을 채울 수 있다.

In [28]:
data.fillna(0)

a    1.0
b    0.0
c    2.0
d    0.0
e    3.0
dtype: float64

이전 value로 채우도록 지정할 수도 있다.

In [29]:
# forward-fill(이전 값으로 채우기)
data.fillna(method = 'ffill')

a    1.0
b    1.0
c    2.0
d    2.0
e    3.0
dtype: float64

또는 뒤에 있는 값으로 앞으로 전달하도록 지정할 수 있다.

In [30]:
# back-fill(다음에 오는 값으로 채우기)
data.fillna(method = 'bfill')

a    1.0
b    2.0
c    2.0
d    3.0
e    3.0
dtype: float64

DataFrame의 경우 option은 유사하지만, value를 어느 axis에 따라 채울 것인지 axis를 이용해 지정할 수 있다.

In [31]:
df

     0    1  2   3
0  1.0  NaN  2 NaN
1  2.0  3.0  5 NaN
2  NaN  4.0  6 NaN

In [32]:
df.fillna(method = 'ffill', axis = 1)

     0    1    2    3
0  1.0  1.0  2.0  2.0
1  2.0  3.0  5.0  5.0
2  NaN  4.0  6.0  6.0

뒤의 value를 채울 때 이전 value를 사용할 수 없다면 NA value는 그대로 남는다는 점을 알아두자.